<!--  ./views/index.handlebars -->
<div class="container py-4">

  <div class="row">
    <div class="col-12 col-lg-11 col-xl-10 mx-auto">
      <h3 class="text-center text-light mb-4">你想對誰說幹話?</h3>
      <section class="target-select-dashboard">

        <!-- row of targets, each card deck has 3 cards, it can be added more card deck in the future-->
        {{> target}}

      </section>
    </div>
  </div>


</div>